body {
    font-family: "Rubik";
    background: rgb(35, 35, 35);  
    color: rgb(255, 255, 255);
 
  
  }

  .logo {
    color: rgb(255, 255, 255);

   display:inline-block;
   position:fixed;
   font-weight: 500;
   font-size: 25px;
   margin-top: 35px;
   margin-left: 40px;
   margin-bottom: 20px;
  
  
   text-decoration: none;
  }

  .logo:hover{
    color: rgb(0, 255, 0);

  }

  .hey {
    display:inline-block;
    position:fixed;
    font-weight: 700;
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 20px;
    color: white;
    right: 40px;
  
   
    text-decoration: none;
   }

  #video-container {
    
    padding: 56.25% 0 0 0;
    position: relative;
  }
  
  #video-container iframe {
    
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
  }

  

  .ES01G {
    display: flex;
    justify-content: center;
    margin-top: 400px;
    margin-bottom: 150px;
  }

  .MA01G {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  
  .ES011G {
    width: 30%;
    margin-right: 30px;
  }
  
  .ESIMG1 {
    max-width: 550px;
    height: auto;
    display: inline-block;
  }
  
  .ES011G, .ESIMG1 {
    height: 700px;
  }

  .ESIMG2 {
    max-width: 550px;
    display: inline-block;
  }


  .ESH1 {
    display: inline-block;
    margin-bottom: 30px;
   

    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-weight: 500;
  }

  .ESH2 {
    display: inline-block;


    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-weight: 300; 
    text-align: justify;
  
  }

  .ESH3 {
    display: inline-block;
    width: 90%;
    margin-top: 50px;

    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-weight: 300; 
    letter-spacing: 1px;

  
  }

  .ESH6 {
    display: inline-block;
    width: 20%;
    grid-column-gap: 20px;

    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-weight: 300; 
    letter-spacing: 2px;
    text-align: LEFT;
    margin-right: 3%;

  }


  .ESH7 {
    width: 90%;
    margin-top: 50px;

    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-weight: 800; 
    letter-spacing: 1px;

  
  }

  .ESH4 {
    display: inline-block;
    width: 90%;

    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-weight: 300; 
    text-align: justify;
  
  }

  .LL02G {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
  }

  .LLIMG2{
    
    margin: 0 20px;
 }

  .LLIMG4{
    padding: 1%;
 }



 .LLIMG3{
    
  display: block;
  margin: 0 auto;
  margin-top: 100px;

}

.ME02G {

  justify-content: center;
  text-align: right;
  width: 86%;
  margin-top: 100px;
  margin-bottom: 100px;


}


.next {
  display: inline-block;
  color: black;

 
  font-size: 30px;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  font-weight: 300;
}

a.next {
  text-decoration: none;
  color: white;
  transition: color 0.5s;
  display: inline-block;
}

a.next:hover {
  font-weight: 500;
  font-size: 40x;
  color: rgb(0, 255, 0);


}

@media (max-width: 785px) {
  .index1 {
    font-size: 30px;
  }

  .index2 {
    font-size: 30px;
  }

  .logo {
    font-size: 30px;
  }

  .LLH1 {
    font-size: 40px;

  }

  .Me011G {
    width: 100%;
    margin-bottom: 50px;
  }

  .ME01G {
    display: block;
    justify-content: center;
    margin-top: 100px;
  }

  .LLH3 {
    display: inline-block;
    width: 90%;

    font-size: 14px;
    text-decoration: none;
    font-weight: 300; 
    letter-spacing: 1px;
  }

  .LLH6 {
    margin: 0 auto;
    
    display: block;
    width: 90%;  
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-weight: 300; 
    letter-spacing: 1px;
    text-align: LEFT;
    margin-right: 3%;
    margin-top: 1px;
  }

  .LLH7 {
    margin: 0 auto;

  
    width: 20%;  
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-weight: 500; 
  }

  .LL01G {
    display: block;
    margin-top: 50px;
    justify-content: center;


  }

  .contact {
    margin: 0 auto;
    display: block;
 

    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-weight: 500;
    color: black;
  
  }

  .LL011G {
    width: 100%;
    margin: 0 2%px;
    text-align: left;
    vertical-align: center;

  }

  .ESIMG1{
    width: 80%;
    display: none;

 }

 .LL011G,  .LLIMG1 {
  height: auto;
}

.LL02G {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  
}

.LLIMG2{    
  display: flex;

  margin: 0 20px;
}

.LLIMG3{
  width: 90%;
display: block;
margin: 0 auto;
margin-top: 20px;

}

.MA01G {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.ES011G {
  margin: 0 auto;

  width: 80%;
  margin-right: 30px;
}

.ES011G, .ESIMG1 {
  height: auto;
}

.ESIMG2 {
  max-width: 550px;
  display: inline-block;

}

.ESH6 {
  margin: 0 auto;

  display: block;
  width: 80%;
  grid-column-gap: 20px;

  font-size: 14px;
 

}
.ESH7 {
  font-size: 14px;
}

.MA01G {
  
  display: block;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}


}



